html {
    scroll-behavior: smooth;
}

.parallax {
    height: 700px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    font-family: 'Segoe UI';
  }

  button {
    font: inherit;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: white;
    margin-left: 40%;
    margin-right: auto;
  }
  
  button:focus {
    outline: 0;
  }

  .ripple {
    background-position: center;
    transition: background 1s;
  }

  .ripple:hover {
    background:whitesmoke radial-gradient(circle, transparent 1%, whitesmoke 1%) center/15000%;
  }

  .ripple:active {
    background-color: lightblue;
    background-size: 100%;
    transition: background 0s;
  }

#carousel-item-1 {
    height: 700px;
    background-image: url("../assets/images/cafe.jpg");
}

#carousel-item-2 {
    height: 700px;
    background-image: url("../assets/images/coffee-918926_1920.jpg");
}

#carousel-item-3 {
  height: 700px;
  background-image: url("../assets/images/coffee-984328_1920.jpg");
}

#box-3 {
    height: 1000px;
    background-image: url("../assets/images/cafe.jpg");
}

  .navbar {
      background-color: black;
      height: 70px;
  }

  .content-box {
      background-color: black;
      background-size: cover;
      height: 1000px;
      padding-top: 10px;
      position: relative;
  }

  .content-box-1 {
    background-color: black;
    background-size: cover;
    height: 1000px;
    position: relative;
}

  .borderline {
    background-color: black;
    background-size: cover;
    height: 10px;
    padding-top: 10px;
    position: relative;
}

  #about {
    background-image: url(../assets/images/coffee-3392168_1920.jpg);
    /* background-color: black; */
  }

  #box-2 {
    background-image: url(../assets/images/coffee-2589761_1920.jpg);
  }

body { padding-top: 70px; }

.parallax .text-body {
    justify-content: center;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
}

h1, p {
    text-align: center;
    color: white;
}

h1 {
    font-size: 45pt;
}

.content-box .text-body {
    color: white;
    justify-content: center;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
}

footer {
    background-color: black;
    color: white;
    justify-content: center;
    display: flex;
    padding-top: 35px;
    padding-bottom: 15px;
}

iframe {
    opacity: 90%;
    max-width: 100%;
}

.nav-link {
    text-align: center;
    color: white;
    font-size: large;
}

a:active, a:hover {
    color: whitesmoke;
}